In [1]:
import pandas as pd

Realizando a leitura da nossa primeira base de dados para a análise do perfil da nossa clientela de acordo, com as compras que realizaram.

In [2]:
#importando a base de dados
url = 'https://raw.githubusercontent.com/alura-cursos/estatistica-r-frequencias-medidas/refs/heads/main/dados/vendas_ecommerce.csv'
#lendo os dados
df = pd.read_csv(url)

In [3]:
#visualizando as primeiras linhas de df
df.head()

,id_compra,sexo_biologico,idade_cliente,regiao_cliente,categoria_produto,preco_unitario,quantidade,total_compra,tempo_entrega,avaliacao
0,9f86e969-221a-4b1a-9b48-9aba719b61cf,Masculino,33,Sul,Ferramentas e Construção,96.80,2,193.60,18,1
1,659f9b07-be10-4849-b2ab-dd542498a1e8,Feminino,33,Nordeste,Alimentos e Bebidas,247.68,1,247.68,6,4
2,d317d7df-1126-42e5-bf4b-0e178bd4e14e,Feminino,36,Sudeste,Eletrônicos,627.46,2,1254.92,8,5
3,bb99bcf6-b333-493e-9ec2-c39f8695503c,Feminino,21,Sul,Eletrônicos,2025.07,8,16200.56,6,5
4,898e4624-84e9-4c41-b181-66d3b7ccfef7,Masculino,31,Centro-Oeste,Papelaria e Escritório,99.24,5,496.20,13,5

In [5]:
#verificando a quantidade de linhas e colunas do df
df.shape

(200000, 10)

In [6]:
#verificar informações mais detalhadas do df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_compra          200000 non-null  object
 1   sexo_biologico     200000 non-null  object
 2   idade_cliente      200000 non-null  int64
 3   regiao_cliente     200000 non-null  object
 4   categoria_produto  200000 non-null  object
 5   preco_unitario     200000 non-null  float64
 6   quantidade         200000 non-null  int64
 7   total_compra       200000 non-null  float64
 8   tempo_entrega      200000 non-null  int64
 9   avaliacao          200000 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 15.3+ MB